<p id="notice"><%= notice %></p>

<p>
  <strong>Nomempleado:</strong>
  <%= @empleado.nomEmpleado %>
</p>

<p>
  <strong>Sucursal:</strong>
  <%= @empleado.sucursal %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @empleado.rfc %>
</p>

<p>
  <strong>Puesto:</strong>
  <%= @empleado.puesto %>
</p>

<a href="http://localhost:3000/sucursals" >Volver a la pagina principal</a>
