<p id="notice"><%= notice %></p>

<p>
  <strong>Nomsucursal:</strong>
  <%= @sucursal.nomSucursal %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @sucursal.calle %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @sucursal.colonia %>
</p>

<p>
  <strong>Numexterior:</strong>
  <%= @sucursal.numExterior %>
</p>

<p>
  <strong>Numinterior:</strong>
  <%= @sucursal.numInterior %>
</p>

<p>
  <strong>Cpostal:</strong>
  <%= @sucursal.cpostal %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @sucursal.ciudad %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @sucursal.pais %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @sucursal.empresa %>
</p>

<a href="http://localhost:3000/sucursals" >Volver a la pagina principal</a>
